---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">

        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">

            {{ content }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>
        {% else %}
        <div class="col-md-8 markdown-body">

            {{ content }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>

        <div class="col-md-4">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}

    </div>
<div id="git_thread"></div>
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
  var gitalk = new Gitalk({
    clientID: 'b2d8ca08fc18b41d60dd',
    clientSecret: '3183656e16f72d9414dc639bba330ef8060f7b50',
    repo: 'kidoneself.github.io',
    owner: 'kidoneself',
    admin: 'kidoneself',
    id: location.pathname,
    distractionFreeMode: ''
  })
  gitalk.render('git_thread')
</script>
</article>
